.yt-banner img {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* Carousel Styles */

.pm__yt-slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 3rem;
}

.pm__yt-slider .image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.pm__yt-slider .right-arrow {
  position: absolute;
  top: 60%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.pm__yt-slider .left-arrow {
  position: absolute;
  top: 60%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.pm__yt-slider .slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.pm__yt-slider .slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.pm__yt-slider .slide iframe {
  width: 100%;
  position: absolute;

}

.pm__yt-slider .slide-title {
  text-align: center;
  color: blue;
  text-shadow: .2rem .3rem .2rem #000000;
  font-size: 10rem;
  padding-bottom: 3rem;
  line-height: 10rem;
  z-index: 90;
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1515px) {
  .pm__yt-slider .slide iframe {
    width: 90%;
    left: 5%;
    top: 85%;
  }

  .pm__yt-slider .slide-title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1160px) {
  .pm__yt-slider .slide-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 935px) {
  .yt-banner img {
    height: 20vh;
  }

  .pm__yt-slider .slide iframe {
    width: 80%;
    left: 10%;
    top: 85%;
  }

  .pm__yt-slider .slide-title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .pm__yt-slider {
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 860px) {
  .pm__yt-slider .left-arrow {
    left: 0px;
  }

  .pm__yt-slider .right-arrow {
    right: 0px;
  }


  .pm__yt-slider .slide-title {
    margin-top: 2rem;
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media screen and (max-width: 620px) {
  .pm__yt-slider .slide-title {
    margin-top: 2rem;
    font-size: 3.25rem;
    line-height: 3.25rem;
  }

  .pm__yt-slider .left-arrow {
    left: 10px;
    top: 50%;
  }

  .pm__yt-slider .right-arrow {
    right: 10px;
    top: 50%;
  }
}

@media screen and (max-width: 550px) {
  .pm__yt-slider {
    margin-bottom: -35rem;
    padding-top: 0rem;
  }

  .pm__yt-slider .slide iframe {
    width: 80%;
    height: 200%;
    left: 10%;
    top: 100%;
  }

  .pm__yt-slider .left-arrow {
    left: 2.5px;
    top: 22%;
  }

  .pm__yt-slider .right-arrow {
    right: 2.5px;
    top: 22%;
  }
}