.pm__comments-wrap {
  padding-top: 10rem;
  padding-bottom: 2rem;
  position: relative;
}

.pm__comments-wrap_video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.pm__comments-wrap_video-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pm__comments-wrap_content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pm__comments-wrap_content-wrap_comment-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 5rem;
  margin: 2rem 5rem;
  width: 70%;
  box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
  transform: skewX(20deg);
}

.pm__comments-wrap_content-wrap_comment-content {
  transform: skewX(-20deg);
  display: flex;
}

.pm__comments-wrap_content-wrap_comment-content img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5rem;
}

.pm__comments-wrap_content-wrap_comment-txt {
  letter-spacing: 0.1rem;
}

.pm__comments-wrap_content-wrap_comment-txt h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
}

.pm__comments-wrap_content-wrap_comment-txt p::first-letter {
  margin-left: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1230px) {
  .pm__comments-wrap_content-wrap_comment-content img {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 1160px) {
  .pm__comments-wrap_content-wrap_comment-bg {
    padding: 3rem;
  }
  .pm__comments-wrap_content-wrap_comment-txt h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1076px) {
  .pm__comments-wrap_content-wrap_comment-bg {
    padding: 2rem;
  }
}

@media screen and (max-width: 1044px) {
  .pm__comments-wrap_content-wrap_comment-content {
    flex-direction: column;
    align-items: center;
  }

  .pm__comments-wrap_content-wrap_comment-content img {
    margin: 0rem;
  }

  .pm__comments-wrap_content-wrap_comment-txt h1 {
    text-align: center;
    margin-top: 2rem;
  }

  .pm__comments-wrap_content-wrap_comment-bg {
    transform: skewX(0deg);
  }

  .pm__comments-wrap_content-wrap_comment-content {
    transform: skewX(0deg);
  }

  .pm__comments-wrap_content-wrap_comment-txt p {
    text-align: justify;
  }

  .pm__comments-wrap_content-wrap_comment-txt p::first-letter {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .pm__comments-wrap_content-wrap_comment-content img {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 455px) {
  .pm__comments-wrap_content-wrap_comment-content img {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 375px) {
  .pm__comments-wrap_content-wrap_comment-txt h1 {
    font-size: 1.5rem;
  }

  .pm__comments-wrap_content-wrap_comment-txt p {
    font-size: 0.9rem;
    text-align: left;
  }
}
