.pm__patreon-wrap {
  padding: 2rem;
  text-transform: capitalize;
}

.pm__patreon-wrap > h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 5rem;
  color: #f96854;
  text-shadow: 0 0.1rem 0.2rem var(--primary-color);
}

.pm__patreon-wrap_content-wrap {
  display: flex;
  justify-content: space-evenly;
}

.pm__patreon-wrap_content-wrap .card {
  max-width: 30rem;
  position: relative;
  perspective: 150rem;
}

.pm__patreon-wrap_content-wrap img {
  width: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
  grid-row: 1/2;
  grid-column: 1/2;
}

.pm__patreon-wrap_content-wrap .card_front {
  text-align: center;
  background-color: var(--white-color);
  border-radius: 0.3rem;
  position: relative;
  z-index: 10;
  opacity: 0.9;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.change > .card_front {
  transform: translateZ(-5rem) translateX(3rem);
  box-shadow: 0 2rem 4rem #777;
  opacity: 0.2;
  z-index: 0;
}

.pm__patreon-wrap_content-wrap h1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  text-shadow: 0 0 1rem #000;
  letter-spacing: 0.2rem;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: flex-end;
}

.pm__patreon-wrap_content-wrap ul {
  width: 80%;
  margin: auto;
  padding: 2rem 0 3rem 0;
}

.pm__patreon-wrap_content-wrap li {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--light-grey-color);
  margin: 2rem 0;
  border-bottom: 0.1rem solid var(--primary-color);
  padding-bottom: 1.5rem;
}

.pm__patreon-wrap_content-wrap .card_back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: #f96854;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 2rem 4rem #777;
  flex-direction: column;
  transform: translateZ(-5rem) translateX(3rem);
  opacity: 0.5;
  transition: opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}

.change > .card_back {
  transform: translateZ(0) translateX(0);
  box-shadow: 0 0.5rem 2rem #aaa;
  opacity: 0.9;
}

.pm__patreon-wrap_content-wrap h3 {
  font-size: 5rem;
  font-weight: 300;
  color: var(--white-color);
  margin-bottom: 3rem;
  font-family: "Roboto Mono", monospace;
  text-shadow: 0 0 1rem #000;
}

.pm__patreon-wrap_content-wrap a {
  color: #052d49;
  background-color: var(--white-color);
  border: none;
  font-size: 2.5rem;
  padding: 1rem 2rem;
  letter-spacing: 0.2rem;
  border-radius: 5rem;
  cursor: pointer;
}

.pm__patreon-btn {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--light-grey-color);
  border-radius: 0.3rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.pm__patreon-wrap p {
  color: var(--light-grey-color);
  opacity: 50%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2.5rem;
}
