* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

